<div class="container">
    <div class="wrapper">
        <div class="row justify-content-center">
            {{#each articles}}
            {{#if saved}}
            <div class="card">
                <img class="card-img-top" width="120" src="{{imageURL}}" alt="{{title}}">
                <div class="card-body">
                    <a href="{{link}}" target="_blank">
                        <h5 class="card-title">{{title}}</h5>
                    </a>
                    <p class="card-text">
                        {{summary}}
                    </p>
                    <button class="delete btn btn-danger btn-sm" data-id="{{id}}"> Delete this article </button>
                    <hr class="my-4">
                    {{#if note}}
                    <p><strong>Comments:</strong></p>
                    {{/if}}
                    {{#each note}}
                    <ul>
                        <li>
                            <p>{{body}}</p>
                        </li>
                    </ul>
                    <button type="button" class="delComment btn btn-warning btn-sm" data-id="{{id}}">Delete
                        comment</button>
                    <hr class="my-4">
                    {{/each}}
                    <form class="comment" data-id="{{id}}">
                        <div class="form-group">
                            <label for="note">Add a comment</label>
                            <textarea class="form-control" class="body" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </form>
                </div>
            </div>
            {{/if}}

            {{/each}}
        </div>
    </div>
</div>